sudo: false
dist: trusty
language: ruby
cache:
  bundler: true
  directories:
  - .coala-cache
services: docker
rvm:
  - 2.3.3
install:
  - bundle install
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then gem install danger; fi'
script:
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then danger --verbose; fi'
  - bundle exec jekyll build
  - ruby ./scripts/image_checker.rb
  - >
    docker run --volume=$(pwd)/.coala-cache:/root/.local/share/coala --volume=$(pwd):/app --workdir=/app coala/base:0.9 /bin/bash -c
    "coala --apply-patches --no-orig;
    coala --non-interactive"
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash ./scripts/coala_patch.sh; fi'
branches:
  only:
    - gh-pages
    - /./  # Allows builds for any other branch name
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/c19a09921ecce91bb027
    on_success: always
    on_failure: always
    on_start: never
