language: ruby
cache: bundler
services: docker
rvm:
  - 2.3.3
install:
  - gem install danger
  - danger --verbose
  - bundle install
script:
  - bundle exec jekyll build
  - percy snapshot _site/
  - ruby ./scripts/image_checker.rb
  - docker run --volume=$(pwd):/app --workdir=/app coala/base:pre /bin/bash -c 'coala --apply-patches --no-orig'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash ./scripts/coala_patch.sh; fi'
branches:
  only:
    - gh-pages
    - /^.$/  # Allows builds for any other branch name
