@import url(https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css);
/* This stylesheet is used to style the public-facing components of the plugin. */
#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.responsive , .responsive  span, .responsive  span iframe[style],  .responsive  span img {
    width: 100% !important;
}

/*Magnific popup CSS*/
.white-popup {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 720px;
  margin: 20px auto;
}

.mfp-close {
	top: -18px !important;
	right: -18px !important;
	background:url(../images/popup_close.png) !important;
	width: 36px !important;
	height: 37px !important;
 	font-size:0px !important; 
	background:transparent;
}
.mfp-close:hover, .mfp-close:active, .mfp-close:focus{
	background:transparent;
}

/*icon css*/

.efbl_read_more_link .efbl_links_container a .fa
	{
	color:#fff;
	margin-right: 9px;
	margin-left: 9px;
	}
.efbl_read_more_link .efbl_links_container a .fa-facebook
	{
	float:left;
	display:inline-block;
	
	}
.efbl_read_more_link .efbl_links_container a .fa-facebook:hover
	{
	color:#3b5998;
	}
.efbl_read_more_link .efbl_links_container a .fa-twitter 
	{
	background-repeat:no-repeat;
	float:left;
	display:inline-block;
	}
.efbl_read_more_link .efbl_links_container a .fa-twitter:hover
	{
	color:#00aced;
	}
.efbl_read_more_link .efbl_links_container a .fa-linkedin
	{
	background-repeat:no-repeat;
	float:left;
	display:inline-block;
	}
.efbl_read_more_link .efbl_links_container a .fa-linkedin:hover
	{
	color:#007bb6;
	}
.efbl_read_more_link .efbl_links_container a .fa-google-plus
	{
	background-repeat:no-repeat;
	float:left;
	display:inline-block;
	}
.efbl_read_more_link .efbl_links_container a .fa-google-plus:hover
	{
	color:#dd4b39;
	}
#efblcf .efbl_story_meta .efbl_read_more_link
	{
	position:relative;
	}
.efbl_links_container
	{
	right:0px;
	}
#efblcf .efbl_info span
	{
	margin-right:3px;
	color: #FFF;
	}
/*custom facebook feed styling starts form here*/
.efbl_feed_wraper{
	  float: left;
	  width: 100%;
	  margin: 0 auto;
	  padding: 0;
	  text-align: left;
}
#efblcf{
	float:left;
	display:block;
	width:100%;
	margin-bottom:20px;
	border-bottom:1px solid #eee;
}
#efblcf .efbl_story_photo{
	position:relative;
	float:left;
}
#efblcf.fullwidth .efbl_post_content, #efblcf.fullwidth .efbl_story_photo{
	width:100%;
	margin-right:10px;
	margin-bottom: 10px;
} 

#efblcf .efbl_story_photo img, #efblcf .efbl_story_photo video {
	width:100%;
	height:auto;
	margin-bottom: 0px;
	margin-top: 0px;
	float: left;
}
#efblcf .efbl_story_photo iframe {
	margin:0px;
	padding:0px;
}
#efblcf.fullwidth  .efbl_youtube_video, #efblcf.fullwidth  .efbl_vimeo_video {
	width:100%;
	height:400px;
	margin-bottom: 0px;
}

#efblcf.halfwidth .efbl_story_photo{
	width: 45%;
  	margin-right: 10px;
	position:relative;
}

#efblcf .efbl_story_photo .efbl_iframe_popup_video{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#efblcf .efbl_story_photo a
	{
	float: left;
	z-index: 1;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	}
#efblcf .efbl_story_photo:hover a
	{
	background-color:rgba(0,0,0,0.5);
	}
#efblcf .efbl_story_photo:hover a	.efbl_hover
	{
	background-image: url(../images/plus.png);
	top: 0px;
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 99999;
	background-position: center;
	background-repeat:no-repeat;

	}
	
#efblcf.halfwidth .efbl_post_content{
	float: left;
  	width: 53%;
}

#efblcf.thumbnail .efbl_story_photo{
	float:left;
	width:21%;
	margin-right:10px;
}
#efblcf.thumbnail .efbl_post_content{
	float:left;
	width: 77%;
}
#efblcf .efbl_post_content .efbl_author_info{
   float: left;
   width: 100%;
}
#efblcf .efbl_post_content .efbl_author_info .efbl_auth_logo{
	float:left;
	margin-right: 5px;
}
#efblcf .efbl_post_content .efbl_author_info p{
	margin-bottom:0px;
	padding-bottom: 0px;
	line-height: 1.2;
}
#efblcf .efbl_post_content .efbl_author_info p a{
	color:inherit;
	text-decoration:none;
	border: 0px;
} 
#efblcf .efbl_post_content .efbl_author_info .efbl_story_time{
	font-size:11px;
	color:#eeee;
}

#efblcf .efbl_post_content .efbl_content_wraper{
	float:left; 
	width:100%;
}

#efblcf .efbl_story_meta {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
#efblcf .efbl_story_meta .efbl_read_more_link{
	float:right;
	margin-top: 5px;
 }
#efblcf .efbl_shared_story{
	padding:10px;
	float:left;
	width: 100%;
	background-color:#f7f7f7;
	border: 1px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#efblcf .efbl_shared_story.efbl_has_link_image .efbl_link_image{
	float:left;
	width: auto;
  	margin-right: 10px;
}
#efblcf .efbl_shared_story .efbl_link_text{
	width:100%;
	float:left;	
}
#efblcf .efbl_shared_story.efbl_has_link_image .efbl_link_text{
	float:left;
	width:73%;
}
#efblcf .efbl_shared_story .efbl_link_text p{
	margin-bottom:0px;
	padding-bottom: 0px;
}
#efblcf .efbl_info {
  float: left;
  padding: 5px 0px 5px 7px;
  background: #333;
 
}
#efblcf .efbl_info:hover {
	 cursor:pointer;
	 opacity:0.9;
}
.efbl_feed_wraper .efbl_custom_likebox{
	margin-left:-10px;
	float:left;
}

/*Ppopup CSS*/
#efblcf_holder img, #efblcf_holder video, #efblcf_holder iframe {
	width:100%;
	height:auto;
}
#efblcf_holder .efbl_popup_image, #efblcf_holder .efbl_popup_if_video, #efblcf_holder .efbl_popup_video, #efblcf_holder .efbl_popupp_footer{
	display:none;
}
#efblcf_holder .efbl_popupp_footer{
	padding:10px;
}
#efblcf_holder .efbl_popupp_footer p{
line-height: 1.3em;
}
#efblcf_holder {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.efbl_links_container{
	display:none;
	position: absolute;
	background: #333;
	padding: 10px;
}
 
.efbl_read_full_story{
	float:left;
	margin-right: 10px;
} 
.efbl_links_container.efbl_slideIn{
	display:block;
	float:left;
}

#efblcf .efbl_comments_wraper {
  float: left;
  width: 100%;
  margin-top:5px;
  padding: 10px;
  background:#eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display:none;
}
#efblcf .efbl_comments_wraper.efbl_cwraper_slide{
	display:block;
}
#efblcf .efbl_comments_wraper .efbl_comments{
	margin-bottom:10px;
	float: left;
    width: 100%;
}
#efblcf .efbl_comments_footer {
  float: left;
  margin-top: 5px;
  border-top: 1px solid #fff;
  width: 100%;
  padding-top: 5px;
}
.efbl_comments_header
	{
	float: left;
  margin-bottom: 5px;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 5px;
	}
#efblcf .efbl_comments_wraper .efbl_commenter_image{
	float:left;
	width:32px;
	margin-right: 10px;	
	margin-top: 7px;
}
#efblcf .efbl_comments_wraper .efbl_commenter_image a img{
	border:0px;
}
#efblcf .efbl_comments_wraper .efbl_comment_text{
	width:88%;
	float:left;
}
#efblcf .efbl_comments_wraper p{
	margin:0px;
	padding:0px;
}

 
  /**
   * Fade-zoom animation for first dialog
   */
  
  /* start state */
  .my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
  }

  /* animate in */
  .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
  }

  /* animate out */
  .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
  }

  /* Dark overlay, start state */
  .my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
  }
  /* animate in */
  .my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
  }
  /* animate out */
  .my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
  }

@media only screen and (max-width:768px){
	#efblcf.thumbnail .efbl_story_photo, #efblcf.thumbnail .efbl_post_content, #efblcf.halfwidth .efbl_story_photo, #efblcf.halfwidth .efbl_post_content{
		width: 100%;
		margin-bottom:10px;
	}
	
	#efbl_popup{
		width:auto !important;
		height:auto !important;
	}
#efblcf .efbl_shared_story.efbl_has_link_image .efbl_link_text
	{
	width:100%;
	}
#efblcf .efbl_shared_story
	{
	text-align:center;
	}
#efblcf .efbl_shared_story.efbl_has_link_image .efbl_link_image
	{
	float:none;
	
	}
.efbl_links_container
	{
	bottom:-30px;
	}
	 
}