* p {
    font-size: 16px;
}
* p strong {
    font-size: 13px;
}
.post {
    position: relative;
    height: 180px;
}
.post .image-holder {
    display: inline;
    float: left;
    text-align: center;
    padding: 10px;
}
.post .content-holder {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 25px;
    display: inline;
    float: right;
}

@media only screen and (max-width: 768px) {
    .post .image-holder img {
        margin-top: 35px;
        width: 70px;
        height: 70px;
    }
}
