#contributors-section {
}

#contributors-section ul {
	display: block;
}

#contributors-section ul:after {
	content: '';
	display: block;
	clear: both;
}

#contributors-section h1 {
	text-align: center;
}

#contributors-section ul > li {
	display: block;
	float: left;
	width: 25%;
	margin: 10px 0;
	list-style-type: none;
}

#contributors-section ul > li a {
	color: white;
}

#contributors-section ul > li .profile {
	width: 80px;
	vertical-align: top;
}

#contributors-section ul > li .content {
	display: inline-block;
	width: 100px;
	vertical-align: middle;
}

#contributors-section ul > li .name {
	 font-size: 12pt;
	 font-weight: bold;
}

#contributors-section ul > li .commit-count {
}
