.main-content {
    background-color: #303030;
}

.white-header {
    color: white;
    margin-bottom: 30px;
}

.header {
    padding-bottom: 10px;
}

.sec1{
    height: 50px;
    width: 100%;
    text-align: center;
}

.sec2{
    height: 100%;
    text-align: center;
    font-size: 30px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.social-media {
    padding: 40px;
    text-align: center;
}

.social-media iframe, .g-page {
    margin-bottom: 30px;
    -webkit-box-shadow: 3px 3px 5px #151515;
    -moz-box-shadow: 3px 3px 5px #151515;
    -o-box-shadow: 3px 3px 5px #151515;
    box-shadow: 3px 3px 5px #151515;
}
.inner a.button  {
    display: inline-block;
    width: 202px;
    height: 80px;
}

#contributors{
    margin-top: 50px;
}

#contributors-list{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #4062BB;
    padding: 30px;
    border-radius: 5px;
}

#contributors h2{
    background-color: #4062BB;
    text-align: center;
    color: white;
    width: 260px;
    margin: auto;
    padding: 10px 10px;
}

#contributors-list div span{
    position: relative;
    margin-top: 60%;
    left: 30px;
    font-size: 18px;
}

#contributors-list div img{
    width: 200px;
    height: 200px;
}

#contributors-list div a{
    position: absolute;
    left: 20px;
    margin-top: 212px;
    color: #000;
    cursor: pointer;
}

#contributors-list div .gh-icon{
    position: absolute;
    top: -3px;
}

#contributors-list .avatar:hover .contribs {
    opacity: 0.8;
}

#contributors-list .contribs p {
    margin-top: 18px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

.students-section {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
    background-color: #A64942;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50,50,50,1);
    box-shadow: 0px 0px 10px 0px rgba(50,50,50,1);
}

.title {
    padding-top: 30px;
    text-align: center;
    color:#ffd700;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
    0px 7px 6px rgba(0,0,0,0.1),
    0px 2px 8px rgba(0,0,0,0.1);
}

hr{
    width: 100px;
    margin-top: 0;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-width: 480px;
    max-height: 360px;
    /*  width: 48%;*/
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.grid figure img {
    position: relative;
    display: block;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

figure.effect-gcihover {
    background: #fff;
    text-align: left;
}

figure.effect-gcihover img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-gcihover figcaption {
    z-index: 1;
}

figure.effect-gcihover p {
    padding: 2.25em 0.5em;
    font-weight: 600;
    font-size: 100%;
    line-height: 1.5;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

figure.effect-gcihover p a {
    margin: 0 0.5em;
    color: #101010;
}

figure.effect-gcihover p a:hover,
figure.effect-gcihover p a:focus {
    opacity: 0.6;
}

figure.effect-gcihover figcaption::before {
    position: absolute;
    top: 0;
    right: 2em;
    left: 2em;
    z-index: -1;
    height: 3.5em;
    background: #fff;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,4em,0) scale3d(1,0.023,1) ;
    transform: translate3d(0,4em,0) scale3d(1,0.023,1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

figure.effect-gcihover:hover img {
    opacity: 0.5;
}

figure.effect-gcihover:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-gcihover:hover figcaption::before {
    opacity: 0.7;
    -webkit-transform: translate3d(0,5em,0) scale3d(1,1,1) ;
    transform: translate3d(0,5em,0) scale3d(1,1,1);
}
.blog {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    height: 100%;
    padding-bottom: 50px;
}
.blog h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blog-holder {
    padding: 20px;
}
.blog-post {
    padding: 0;
    margin: 0;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blog-title {
    padding: 20px 0;
    margin: 0;
    height: 100px;
    background: #66BB6A;
    color: #fafafa;
    font-size: 16px;
    text-align: center;
}
.blog-title a {
    color: #fafafa;
}
.blog-title a:hover, .blog-title a:link, .blog-title a:visited {
    color: #fafafa;
}

.mentors h2, .latest-issues h2, .students-sec h2 {
    margin: 0 auto;
    padding: 10px;
    width: 170px;
    color: white;
    background: #27ae60;
    text-align: center;
}

.mentors .mentors-wrapper, .students-sec .students-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 30px;
    background: #27ae60;
    border-radius: 5px;
    text-align: center;
}

.mentors .card, #contributors-list .card, .students-sec .card {
    width: 200px;
    height: 250px;
    margin: 20px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mentors .card p , .students-sec .card p{
    margin-top: 4.5%;
    font-size: 20px;
}

.mentors .avatar, #contributors-list .avatar, .students-sec .avatar {
    position: relative;
    width: 200px;
    height: 200px;
}

.mentors .card .avatar img ,.students-sec .card .avatar .img {
    width: 100%;
}

.mentors .social, #contributors-list .contribs, .students-sec .social {
    position: absolute;
    background: #fff;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding-top: 20%;
}

.mentors .card .avatar:hover .social, .students-sec .card .avatar:hover .social {
    opacity: 0.8;
}

.mentors .social i, .students-sec .social i {
    font-size: 40px;
    margin: 10px;
    text-align: center;
}

.latest-issues {
    margin-top: 50px;
}

.latest-issues h2 {
    background: transparent;
    width: 260px;
    margin-bottom: 10px;
}

.issues-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px;
    background: #eee;
    border-radius: 5px;
}

.issue {
    width: 100%;
    height: 80px;
    padding:18px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;
    background:#FFF;
}

.issue:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.issues-wrapper span {
    margin-right: 5px;
    font-weight: bold;
}

.issues-wrapper a {
    color: #1862db;
}

.issues-wrapper .user {
    position: absolute;
    margin-top: -42px;
    margin-left: 74px;
}

.issues-wrapper .right-coms {
    float: right;
    text-align: right;
    margin-top: -55px;
}

.issues-wrapper i {
    margin-right: 5px;
}

.button {
  background: #FFF;
  text-align: center;
  height: 40px;
  width: 300px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin-bottom:20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}
.button a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
