.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    width: 600px;
    height: 300px;
    z-index: 9999;
    padding: 20px;
    background: #efefef;
    display:none;
}

@media(max-width: 420px) {
    .modal {
        width: 300px;
        height: 400px;
        margin-left: -150px;
        margin-top: -200px;
    }
    .picture {
        width: 70% !important;
        float: none !important;
        margin: 0 auto !important;
        display: block !important;
    }
    .picture img {
        width: 100%;
    }
    .information h3 {
        font-size: 12pt;
        margin-top: 4px;
    }
    .information div:last-child {
        padding-top: 0 !important;
    }
}

.picture {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    float: left;
}

.infromation {
    display: inline-block;
    float: right;
    text-align: left;
}
.close {
    width: 30px;
    opacity: 1;
    filter: alpha(opacity=100);
}
