button:active, button:focus {
  outline: none;
  border: none; }

#social-media {
  width: 80%;
  height: 500px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  border-radius: 10px;
  overflow: hidden;
  background: #BBB;
  padding: 0;
  margin: 0; }
  #social-media ul {
    list-style: none;
    padding-left: 0px; }
  #social-media #sm-sidebar {
    background: #EEE;
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;
    overflow-y: scroll;
    overflow-x: visible; }
    #social-media #sm-sidebar ul {
      width: 100%; }
    #social-media #sm-sidebar li {
      width: 100%;
      height: 50px;
      font-size: 18px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s ease-out; }
      @media screen and (max-width: 600px) {
        #social-media #sm-sidebar li {
          font-size: 2.5vw; } }
      #social-media #sm-sidebar li:hover {
        background: #DDD;
        height: 80px;
        font-size: 24px;
        line-height: 80px; }
        @media screen and (max-width: 600px) {
          #social-media #sm-sidebar li:hover {
            font-size: 3.2vw; } }
      #social-media #sm-sidebar li.sm-click {
        -webkit-animation: darkFlash 1s;
        -moz-animation: darkFlash 1s;
        -o-animation: darkFlash 1s;
        animation: darkFlash 1s; }
  #social-media #sm-pane {
    background: #BBB;
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 0.5s; }
    #social-media #sm-pane ul {
      margin: 0;
      padding: 0; }
    #social-media #sm-pane li {
      margin: 0;
      padding: 0; }
    #social-media #sm-pane div.panel {
      width: 100%;
      height: 500px;
      position: relative; }
      #social-media #sm-pane div.panel .wrapper {
        position: absolute;
        top: 30px;
        bottom: 30px;
        right: 30px;
        left: 30px;
        width: auto;
        height: auto; }
      #social-media #sm-pane div.panel.twitter {
        background: #0084b4; }
        #social-media #sm-pane div.panel.twitter .header {
          width: 100%;
          height: 50px;
          font-size: 24px;
          color: white;
          position: relative;
          top: -10px; }
          #social-media #sm-pane div.panel.twitter .header div {
            height: 0px;
            padding-top: 17px; }
            @media screen and (max-width: 600px) {
              #social-media #sm-pane div.panel.twitter .header div {
                font-size: 4vw; } }
          #social-media #sm-pane div.panel.twitter .header img {
            display: inline-block;
            position: absolute;
            top: 0px;
            right: 1%;
            width: 80px;
            height: 80px; }
            @media screen and (max-width: 600px) {
              #social-media #sm-pane div.panel.twitter .header img {
                width: 12vw;
                height: 12vw; } }
        #social-media #sm-pane div.panel.twitter .line {
          width: 100%;
          height: 1px;
          background: white;
          position: relative;
          left: 50%;
          -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%); }
        #social-media #sm-pane div.panel.twitter .tweets {
          position: relative;
          width: 100%;
          height: 380px; }
          #social-media #sm-pane div.panel.twitter .tweets ul {
            position: relative;
            width: inherit;
            height: inherit; }
          #social-media #sm-pane div.panel.twitter .tweets li {
            background: #EEE;
            border-radius: 5px;
            color: black;
            position: absolute;
            display: inline-block;
            list-style-type: none;
            top: 50%;
            transform: translateY(-50%);
            width: 45.7%;
            height: 200px;
            font-size: 14px;
            transition: all 0.75s ease-in-out; }
            @media screen and (max-width: 600px) {
              #social-media #sm-pane div.panel.twitter .tweets li {
                font-size: 2vw; } }
            #social-media #sm-pane div.panel.twitter .tweets li.centered {
              width: 68.55%;
              height: 300px;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 18px;
              opacity: 1; }
              @media screen and (max-width: 600px) {
                #social-media #sm-pane div.panel.twitter .tweets li.centered {
                  font-size: 2.25vw; } }
              #social-media #sm-pane div.panel.twitter .tweets li.centered .wrapper {
                left: 45px; }
            #social-media #sm-pane div.panel.twitter .tweets li.right {
              right: -100%; }
              #social-media #sm-pane div.panel.twitter .tweets li.right.up-next {
                right: -35%; }
            #social-media #sm-pane div.panel.twitter .tweets li.left {
              left: -100%; }
              #social-media #sm-pane div.panel.twitter .tweets li.left.up-next {
                left: -35%; }
            #social-media #sm-pane div.panel.twitter .tweets li.up-next {
              opacity: 0.5;
              cursor: pointer; }
              #social-media #sm-pane div.panel.twitter .tweets li.up-next:hover {
                opacity: 0.75; }
            #social-media #sm-pane div.panel.twitter .tweets li.final {
              text-align: center; }
              #social-media #sm-pane div.panel.twitter .tweets li.final div {
                width: 80%;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%); }
            #social-media #sm-pane div.panel.twitter .tweets li .wrapper {
              position: absolute;
              top: 15px;
              bottom: 15px;
              left: 15px;
              right: 15px;
              width: auto;
              height: auto;
              overflow-x: hidden;
              overflow-y: scroll;
              transition: left 0.5s; }
            #social-media #sm-pane div.panel.twitter .tweets li a {
              text-decoration: none;
              color: #0084b4;
              word-wrap: break-word; }
            #social-media #sm-pane div.panel.twitter .tweets li .triangle-wrapper {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 0;
              right: 0;
              border-radius: 5px;
              overflow: hidden; }
            #social-media #sm-pane div.panel.twitter .tweets li .retweeted-triangle {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 45px 45px 0;
              border-color: transparent #35c9ff transparent transparent;
              position: absolute;
              top: 0;
              right: 0; }
              #social-media #sm-pane div.panel.twitter .tweets li .retweeted-triangle i {
                position: relative;
                top: 2px;
                right: -20px; }
            #social-media #sm-pane div.panel.twitter .tweets li div[data-scribe="component:author"] a[data-scribe="element:user_link"] div {
              font-weight: 600;
              color: #777;
              position: relative;
              font-size: 16px; }
              @media screen and (max-width: 600px) {
                #social-media #sm-pane div.panel.twitter .tweets li div[data-scribe="component:author"] a[data-scribe="element:user_link"] div {
                  font-size: 2.25vw; } }
              #social-media #sm-pane div.panel.twitter .tweets li div[data-scribe="component:author"] a[data-scribe="element:user_link"] div span:first-child {
                padding-right: 5px; }
            #social-media #sm-pane div.panel.twitter .tweets li div.avatar-wrapper {
              width: 150px;
              height: 150px;
              position: relative;
              left: -75px;
              top: -25px; }
            #social-media #sm-pane div.panel.twitter .tweets li img[data-scribe="element:avatar"] {
              width: 75px;
              height: 75px;
              border-radius: 50%;
              /*position: relative;
              left: -40px;
              top: 10px;*/
              position: relative;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); }
              @media screen and (max-width: 600px) {
                #social-media #sm-pane div.panel.twitter .tweets li img[data-scribe="element:avatar"] {
                  width: 12vw;
                  height: 12vw; } }
            #social-media #sm-pane div.panel.twitter .tweets li .media img {
              width: 100%; }
            #social-media #sm-pane div.panel.twitter .tweets li .timePosted {
              color: #127ca2;
              font-size: 12px; }
              @media screen and (max-width: 600px) {
                #social-media #sm-pane div.panel.twitter .tweets li .timePosted {
                  font-size: 1.8vw; } }
            #social-media #sm-pane div.panel.twitter .tweets li .interact a {
              margin-right: 5px;
              color: #35c9ff;
              transition: color 0.5s; }
              #social-media #sm-pane div.panel.twitter .tweets li .interact a:hover {
                color: #0084b4; }
        #social-media #sm-pane div.panel.twitter .arrows {
          height: 30px; }
        #social-media #sm-pane div.panel.twitter .arrows button {
          width: 40px;
          height: 20px;
          background: rgba(255, 255, 255, 0.25);
          color: white;
          border: none;
          margin-top: 5px;
          margin-right: 5px;
          transition: all 0.5s; }
          #social-media #sm-pane div.panel.twitter .arrows button:hover {
            background: #FFF;
            color: black; }
      #social-media #sm-pane div.panel.fb {
        background: #3b5998; }
        #social-media #sm-pane div.panel.fb .banner {
          background-image: url("https://scontent-sjc2-1.xx.fbcdn.net/v/t31.0-8/10658556_940744502619854_4899562564510209042_o.jpg?oh=c2b1921f19373716f8ec198204fca116&oe=58AE8AAF");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 120px;
          position: absolute;
          top: 0;
          left: 0; }
        #social-media #sm-pane div.panel.fb .banner-overlay {
          width: 100%;
          height: 120px;
          background: black;
          opacity: 0.65;
          position: absolute;
          top: 0;
          left: 0; }
        #social-media #sm-pane div.panel.fb .header {
          width: 100%;
          height: 50px;
          font-size: 24px;
          color: white;
          position: relative;
          top: -10px; }
          #social-media #sm-pane div.panel.fb .header div {
            height: 0px;
            padding-top: 17px; }
            @media screen and (max-width: 600px) {
              #social-media #sm-pane div.panel.fb .header div {
                font-size: 4vw; } }
            #social-media #sm-pane div.panel.fb .header div span {
              margin-left: 10px;
              font-size: 18px;
              color: #96abd6; }
              @media screen and (max-width: 600px) {
                #social-media #sm-pane div.panel.fb .header div span {
                  font-size: 2.5vw; } }
          #social-media #sm-pane div.panel.fb .header img {
            display: inline-block;
            position: absolute;
            top: -15px;
            right: -1%;
            width: 100px;
            height: 100px; }
            @media screen and (max-width: 600px) {
              #social-media #sm-pane div.panel.fb .header img {
                width: 13vw;
                height: 13vw; } }
        #social-media #sm-pane div.panel.fb .line {
          width: 100%;
          height: 1px;
          background: white;
          position: relative;
          left: 50%;
          -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%); }
        #social-media #sm-pane div.panel.fb .arrows {
          height: 30px; }
        #social-media #sm-pane div.panel.fb .arrows button {
          width: 40px;
          height: 20px;
          background: rgba(255, 255, 255, 0.25);
          color: white;
          border: none;
          margin-top: 5px;
          margin-right: 5px;
          transition: all 0.5s; }
          #social-media #sm-pane div.panel.fb .arrows button:hover {
            background: #FFF;
            color: black; }
      #social-media #sm-pane div.panel.github {
        background: repeating-linear-gradient(-45deg, #cb593c 8.25%, #cb593c 10%, #a37173 18%, #a37173 20%, #5692ec 28%, #5692ec 30%, #7776eb 38%, #7776eb 40%, #ecaa58 48%, #ecaa58 50%, #cb593c 58%);
        position: relative;
        /*.full-name {
            color: white;
        }*/
        /*div.bg {
            width: 100%;
            height: 100%;
            
            div.top {
                background: darken($color-github, 15%);
                width: inherit;
                height: 200px;
            }
            
            div.bottom {
                background: darken($color-github, 5%);
                width: inherit;
                height: 300px;
            }
        }*/ }
        #social-media #sm-pane div.panel.github div.bg {
          width: 100%;
          height: 100%;
          background: black;
          opacity: 0.25; }
        #social-media #sm-pane div.panel.github div.github-widget {
          position: absolute;
          border: none;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: #EEE;
          padding: 5px;
          border-radius: 7.5px;
          /*.gh-widget-container {
              color: #1f1f1f;
          }
          
          & > div > div[class^="gh-widget"]:nth-child(1), & > div > div[class^="gh-widget"]:nth-child(2) {
              color: #666;
          }*/ }
          #social-media #sm-pane div.panel.github div.github-widget hr {
            opacity: 0; }
      #social-media #sm-pane div.panel.gplus {
        background: #d34836; }
        #social-media #sm-pane div.panel.gplus .wrapper > div {
          width: 369px;
          height: 430px;
          border-radius: 10px;
          overflow: hidden;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translateX(-50%); }
      #social-media #sm-pane div.panel.youtube {
        background: #b31217; }
        #social-media #sm-pane div.panel.youtube .vid-wrapper {
          box-shadow: 0px 2px 50px 3px rgba(0, 0, 0, 0.5);
          margin-top: 30px;
          height: 80%;
          width: 100%; }
        #social-media #sm-pane div.panel.youtube iframe {
          width: 100%;
          height: 100%; }
        #social-media #sm-pane div.panel.youtube .header {
          width: 100%;
          height: 50px;
          font-size: 24px;
          color: white;
          position: relative;
          top: -10px; }
          #social-media #sm-pane div.panel.youtube .header div {
            height: 0px;
            padding-top: 17px; }
            @media screen and (max-width: 600px) {
              #social-media #sm-pane div.panel.youtube .header div {
                font-size: 4vw; } }
          #social-media #sm-pane div.panel.youtube .header img {
            display: inline-block;
            position: absolute;
            top: 0px;
            right: 1%;
            width: 102px;
            height: 72px; }
            @media screen and (max-width: 600px) {
              #social-media #sm-pane div.panel.youtube .header img {
                width: 16.716vw;
                height: 11.8vw; } }
        #social-media #sm-pane div.panel.youtube .line {
          width: 100%;
          height: 1px;
          background: white;
          position: relative;
          left: 50%;
          -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
          transform: translate(-50%); }

@-webkit-keyframes darkFlash {
  0% {
    background: #DDD; }
  10% {
    background: #EEE; }
  15% {
    background: #BBB; }
  30% {
    background: #999; }
  99% {
    background: #EEE; } }
@-moz-keyframes darkFlash {
  0% {
    background: #DDD; }
  10% {
    background: #EEE; }
  15% {
    background: #BBB; }
  30% {
    background: #999; }
  99% {
    background: #EEE; } }
@-o-keyframes darkFlash {
  0% {
    background: #DDD; }
  10% {
    background: #EEE; }
  15% {
    background: #BBB; }
  30% {
    background: #999; }
  99% {
    background: #EEE; } }
@keyframes darkFlash {
  0% {
    background: #DDD; }
  10% {
    background: #EEE; }
  15% {
    background: #BBB; }
  30% {
    background: #999; }
  99% {
    background: #EEE; } }
#social-media #sm-pane div.panel.twitter .tweets li, #social-media #sm-pane div.panel.github div.github-widget, #social-media #sm-pane div.panel.gplus .wrapper > div {
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=style.css.map */
